@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1>Oops!</h1>

    <p>It looks like you have tried to access a page for which you do not have permission.</p>

    <a asp-controller="Quizzes" asp-action="Index" class="btn btn-primary">Return to Application</a>
</div>