@model WebbiSkools.QuizManager.Web.Models.User

@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center">Login</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3 col-xl-4"></div>
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control"/>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control"/>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-dark" type="reset">Reset</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-3 col-xl-4"></div>
    </div>
</div>